# Executables
*.exe
dpi_engine.exe

# Object files
*.o
*.obj

# Libraries
*.a
*.lib
*.dll
*.so
*.dylib

# Build folders
build/
cmake-build-*/

# VS Code
.vscode/

# Visual Studio
.vs/

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# OS files
.DS_Store
Thumbs.db